[Unit]
Description=floward_clone Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
RuntimeDirectory=floward_clone
RuntimeDirectoryMode=0755
WorkingDirectory=/var/www/floward_clone
EnvironmentFile=/var/www/floward_clone/.env
Environment=DJANGO_SETTINGS_MODULE=floward_clone.settings.prod
ExecStart=/var/www/floward_clone/.venv/bin/gunicorn \
    -c deploy/gunicorn/gunicorn.conf.py \
    floward_clone.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
