{% load i18n %}
{# Single source of truth for storefront location copy. Pass compact=1 for footer. #}
<div class="jm-locations{% if compact %} jm-locations--compact{% endif %}">
  <div class="jm-locations__block">
    <strong class="jm-locations__label">{% trans "Store location" %}</strong>
    <p class="jm-locations__body">
      {{ site_settings.site_name }} <br>
      {{ store_address|linebreaksbr }}{% if store_phone %}<br>
      <a href="tel:{{ store_phone|cut:' ' }}">{{ store_phone }}</a>{% endif %}
    </p>
  </div>

  {% if not compact %}
  <div class="jm-locations__block">
    <strong class="jm-locations__label">{% trans "Licence activities" %}</strong>
    <ul class="jm-locations__branches" role="list">
      <li>{% trans "Retail Sale of Hair Care Products" %}</li>
      <li>{% trans "Retail Sale of Skincare & Cosmetics" %}</li>
      <li>{% trans "Retail Sale of Body Care & Personal Care Products" %}</li>
      <li>{% trans "Wholesale of Skin & Body Care Extracts & Essential Oils" %}</li>
      <li>{% trans "Hair, Skin & Body Care Product Formulation & Packaging" %}</li>
      <li>{% trans "Retail Sale of Wellness & Nutrition Supplements" %}</li>
    </ul>
  </div>
  {% endif %}
</div>
