{% load static %}

<link rel="stylesheet" href="{% static 'components/scroll_animation/css/animation.css' %}?v=32">

<section class="scroll-animation-wrapper">
    <div class="scroll-animation-container">
        <canvas id="animation-canvas"></canvas>

        <div class="animation-text-blocks">
            <div class="text-block text-left text-top">
                <h3>Skin Brightening</h3>
                <p>Provides deep hydration, brightens skin, removes dead skin cells, and effectively targets sun damage and dark spots.</p>
            </div>
            <div class="text-block text-left text-bottom">
                <h3>Anti-Aging Moisture</h3>
                <p>Packed with antioxidants for anti-aging benefits while acting as a deep moisturizer for soft, radiant skin.</p>
            </div>
            <div class="text-block text-right text-top">
                <h3>Active Ingredients</h3>
                <p>Formulated with Kojic Acid, Alpha Arbutin, and Niacinamide to deeply nourish and rejuvenate your skin.</p>
            </div>
            <div class="text-block text-right text-bottom">
                <h3>Fruit Extracts</h3>
                <p>Enriched with Raspberry, Peach, Mixed Fruit, Red Plumes, Mango, Coconut Milk, Shea Butter, and Tomato.</p>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'components/scroll_animation/js/animation.js' %}?v=24"></script>