{% load i18n %}
<svg class="leaf-vine{% if mirror %} leaf-vine--right{% endif %}" viewBox="0 0 100 36" aria-hidden="true" focusable="false">
  <path class="leaf-vine__curl" d="M4 18 C4 12 9 9 13 12 C16 14.5 14 18 10 17.5"/>
  <path class="leaf-vine__stem" d="M10 18 C22 10 30 26 44 18 C56 11 64 24 78 17 C84 14.5 88 15 94 17"/>
  <path class="leaf-vine__leaf leaf-vine__leaf--1" d="M24 14 C28 6 36 5 40 9 C34 10 28 13 24 14 Z"/>
  <path class="leaf-vine__leaf leaf-vine__leaf--2" d="M46 22 C48 30 56 32 60 28 C54 26 49 24 46 22 Z"/>
  <path class="leaf-vine__leaf leaf-vine__leaf--3" d="M70 13 C74 4 84 3 89 8 C82 9 75 12 70 13 Z"/>
</svg>
